<mat-toolbar color="light">
  <a href="" class="logo">Jobful</a>
</mat-toolbar>

<div class="join-msg">
  <h1>Login to Jobful</h1>
</div>
<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username or Email</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password </mat-label>
      <input type="password" matInput />
    </mat-form-field>

    <button
      color="primary"
      mat-raised-button
      class="signup-btn"
      style="width: 50%"
    >
      Login
    </button>
  </form>

  <div class="go-signup">
    <h3>
      Already have an account? <span><a href="">Sign up</a></span>
    </h3>
  </div>
</div>

<!-- ########################################################################################################### -->

<footer class="footer">
  <p class="footer-title">Copyrights @ <span>Ahmed Ala</span></p>

  <div class="social-icons">
    <a href="#facebook">
      <mat-icon>facebook</mat-icon>
    </a>

    <a href="#Twiter">
      <mat-icon>github</mat-icon>
    </a>

    <a href="#linkedin">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
  </div>
</footer>
