<mat-toolbar color="light">
  <a href="" class="logo">Jobful</a>

  <div class="tool-links">
    <button
      mat-raised-button
      color="warn"
      class="login-btn"
      (click)="onLogin()"
    >
      Login
    </button>
  </div>
</mat-toolbar>

<!-- Content  -->
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="join-msg">
  <h1>Join to find work you love</h1>
</div>
<div class="container">
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td class="td1">
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="example-full-width">
      <mat-label>Email Address</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password </mat-label>
      <input type="password" matInput />
    </mat-form-field>
    <div class="agree">
      <input type="checkbox" id="checkbox" name="checkbox" />
      <label for="checkbox">I Agree on terms and conditions</label>
    </div>
    <button mat-raised-button class="signup-btn" style="width: 100%">
      Sign Up
    </button>
  </form>

  <div class="go-login">
    <h3>Already have an account? <span>Login</span></h3>
  </div>
</div>
<!-- 

<form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form> -->
<!-- ##################################################3 -->

<footer class="footer">
  <p class="footer-title">Copyrights @ <span>Ahmed Ala</span></p>

  <div class="social-icons">
    <a href="#facebook">
      <mat-icon>facebook</mat-icon>
    </a>

    <a href="#Twiter">
      <mat-icon>github</mat-icon>
    </a>

    <a href="#linkedin">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
  </div>
</footer>
