mat-toolbar{
    background: #131524;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: #5075d5;
        font-size: 30px;
        font-weight: 767;
    }
}

.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
  
  .example-full-width {
    width: 100%;
    
  }
  
  .td1 {
    padding-right: 8px;
  }

form{
    table{
        margin-top: 10px;
    }
}

.container{
    border: 2px solid #5075d5;
    margin: auto;
    width: 620px;
    height: auto;
    border-radius: 10px;
}
  
  .join-msg{
    display: flex;
    color: #5075d5;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .example-margin {
    margin: 0 10px;
    
  }
  mat-checkbox{
    color: #5075d5;
  }

  a{
    text-decoration: none;
  }
  .signup-btn{
    background-color:var(#108a00) ;
  }
h3{
  color: rgb(255, 244, 129);

}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px; /* adjust the height of the footer */
  background-color: #ccc;
}




.footer{
  background-color: #000016;
  color: white;
  // padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.footer-title{
  font-size: 1.3em;
  font-weight: 500;
}



.social-icons a img {
  width: 20px;
  height: 20px;
  fill: white;
  // background-color: #f0f0f0;
}

.agree{
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  label{
    color: #5075d5;
  }
}

.go-login{
  text-align: center;
  margin-top:30px ;
}
//   @media screen and (max-width: 600px) {}

@media screen and (max-width: 600px) {
  
}