<mat-toolbar color="light">
  <!-- <div class="topnav">
        <a class="" href="">Home</a>
        <input type="text" placeholder="Search..">
        <a href="">About</a>
        <a href="">Contact</a>
    </div> -->
  <a href="" class="logo">Jobful</a>
  <div class="search-form">
    <div class="search-field">
      <button mat-stroked-button (click)="openSnackBar()">
        <mat-icon>search</mat-icon>
      </button>
      <input matInput type="search" placeholder="search ..." />
    </div>
  </div>
  <div class="tool-links">
    <button
      mat-raised-button
      color="light"
      class="login-btn"
      (click)="onLogin()"
    >
      Login
    </button>

    <button mat-raised-button color="primary" (click)="onSignup()">
      Sign up
    </button>
  </div>
</mat-toolbar>

<!-- ##########################################################################################################333 -->

<app-spinner *ngIf="loading"></app-spinner>
<div class="content">
  <div class="card">
    <div class="text-home">
      <h1>How Jobful should work 😊</h1>
      <h3>
        Forget the old rules. You can have the best people. Right now. Right
        here.
      </h3>
    </div>
    <img src="../../assets/home.png" alt="" />
  </div>
</div>

<div class="talent">
  <mat-card>
    <button mat-button color="primary">
      <mat-card-content>Find Talent</mat-card-content>
    </button>
  </mat-card>

  <mat-card>
    <button mat-button color="warn">
      <mat-card-content>Find Work</mat-card-content>
    </button>
  </mat-card>
</div>

<!-- ########################################################################################################### -->

<footer class="footer">
  <p class="footer-title">Copyrights @ <span>Ahmed Ala</span></p>

  <div class="social-icons">
    <a href="#facebook">
      <mat-icon>facebook</mat-icon>
    </a>

    <a href="#Twiter">
      <mat-icon>github</mat-icon>
    </a>

    <a href="#linkedin">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
  </div>
</footer>
